$section_height: 700px;
$section_width: 100%;
$section_bg_black: #000;
$section_bg_white: rgb(207, 207, 207); 
$mobile-width: 480px;
$tablet-width: 768px;
$landscape-width: 1280px;
$largerscreen-width: 1580px;
