@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.card {
  position: relative;
  width: 320px;
  height: 500px;
  background: transparent;
  opacity: 0.3;
  overflow: hidden;
  flex: 1 1 400px;
  border-radius: 20px;
}
@media (max-width: 1380px) {
  .card {
    flex: 1 1 260px;
  }
}
.card:hover {
  transition: all 0.5s;
  opacity: 1;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(150px at 80% 20%);
          clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.card .imgBx {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  height: 320px;
  transition: 0.5s;
}
.card .imgBx img {
  width: 150px !important;
  height: 150px;
}

.card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.card-section-flex {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.card-section-flex .card {
  flex: 1 1 400px;
}

.card .contentBx {
  position: absolute;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
  opacity: 0;
}

.card:hover .contentBx {
  height: 210px;
  opacity: 1;
}

.card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.card .contentBx .size, .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.card:hover .flexbx {
  opacity: 1;
  visibility: visible;
  transition: all 2s ease-in-out;
}

.card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.card .contentBx .size h3, .card .contentBx .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.card .contentBx .size span {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.card .contentBx .size span:hover {
  background: #9bdc28;
}

.card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 999;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wrapper {
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 34.5ch;
  animation: typing 5s steps(32), blink 0.2s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: none;
  outline-width: 0;
}

html {
  scroll-behavior: smooth;
  transition: scroll 3s linear;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}

.nav-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  background: transparent;
  opacity: 0;
}
.nav-flex .disabled {
  opacity: 0;
}
.nav-flex .socialIcons {
  display: flex;
  gap: 2rem;
}
@media (max-width: 878px) {
  .nav-flex .socialIcons {
    display: none;
  }
}
.nav-flex .socialIcons .behanceIcon {
  margin-top: 0.9rem;
  width: 3rem;
  height: 3rem;
}
@media (max-width: 878px) {
  .nav-flex .socialIcons .behanceIcon {
    width: 1.8rem;
    height: 1.8rem;
  }
}
.nav-flex .socialIcons .linkedinIcon,
.nav-flex .socialIcons .githubIcon {
  margin-top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}
@media (max-width: 878px) {
  .nav-flex .socialIcons .linkedinIcon,
  .nav-flex .socialIcons .githubIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.nav-flex .lang-navigationbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.nav-flex .lang-navigationbtn .lang-change {
  cursor: pointer;
  z-index: 10;
}
.nav-flex .brand-flex-icon {
  display: flex;
  align-items: center;
}
@media (max-width: 878px) {
  .nav-flex .brand-flex-icon img {
    width: 3.5rem;
    height: 3.5rem;
  }
}
.nav-flex .nav-navigationBtn {
  margin-top: 10px;
  z-index: 31;
  cursor: pointer;
}

.particles-js-canvas-el {
  position: fixed;
  z-index: -20;
}

#partciles-js {
  height: 100vh;
}

#particles-js canvas {
  animation: particlePopUp 1s ease 0s normal none;
}

@keyframes particlePopUp {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.block-main {
  display: flex;
  justify-content: center;
  background-color: #000;
  width: 100%;
  height: 700px;
  position: absolute;
  top: 1200px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
@media (max-width: 480px) {
  .block-main {
    height: 120rem;
  }
}
.block-main .flex-intern {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 480px) {
  .block-main .flex-intern {
    flex-direction: column;
    gap: 350px;
  }
}
.block-main .flex-intern h3,
.block-main .flex-intern h2 {
  color: #fff;
}
.block-main .flex-intern div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80dvw;
  max-height: 10rem;
}

.block-main-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: all 4.2s ease-in-out;
  margin-bottom: 13rem;
}
@media (max-width: 480px) {
  .block-main-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
.block-main-flex h1,
.block-main-flex p {
  color: white;
  font-size: 120%;
}
.block-main-flex div {
  width: 30%;
}

.block-main-animated {
  width: 100%;
  height: 700px;
  padding: 20px 0 20px 0;
  border-radius: 0px;
}
@media (max-width: 768px) {
  .block-main-animated {
    height: 900px;
    padding: 0;
  }
}

.block-main-hover {
  transform: scale(1.2) !important;
}

.name-presentation {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  top: 250px;
}
.name-presentation strong {
  font-size: 300%;
}
.name-presentation .myProjectsh2 {
  margin-top: 2rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.name-presentation .myProjectsh2 a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}
.name-presentation .myProjectsh2:hover {
  transform: scale(110%);
}
.name-presentation .suggestClick {
  position: absolute;
  top: 800px;
  left: 40vw;
}
@media (max-width: 480px) {
  .name-presentation .suggestClick {
    left: 16vw;
  }
}
.name-presentation .suggestClick img {
  width: 100%;
  height: 70px;
  transform: rotate(-75deg);
}
@media (max-width: 480px) {
  .name-presentation h2 strong {
    font-size: 120%;
  }
  .name-presentation h2 {
    font-size: 100%;
  }
}

.scrollDownIcon {
  position: absolute;
  bottom: 0;
}
.scrollDownIcon img {
  width: 5rem;
}

.block-knowledge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 2500px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .block-knowledge {
    position: absolute !important;
    top: 1900px !important;
  }
}
@media (max-width: 1280px) {
  .block-knowledge {
    position: absolute !important;
    top: 3500px !important;
  }
}
@media (max-width: 480px) {
  .block-knowledge {
    position: absolute !important;
    top: 3500px !important;
    width: auto;
  }
}
.block-knowledge h1,
.block-knowledge h3 {
  text-align: center;
}
.block-knowledge h1 {
  font-size: 3rem;
  color: rgb(0, 0, 0);
}
@media (max-width: 720px) {
  .block-knowledge h1 {
    font-size: 2rem;
  }
}
.block-knowledge h3 {
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(139, 139, 139);
}
.block-knowledge .knowledge-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  flex-wrap: wrap;
}
.block-knowledge .knowledge-flex .cssicon {
  width: 170px;
  height: 170px;
}
.block-knowledge .knowledge-title h1 {
  font-size: 2rem;
}
.block-knowledge .contentBx {
  font-size: 0.9rem;
}

.clickSuggestIcon {
  visibility: hidden;
  position: absolute;
}
@media (max-width: 480px) {
  .clickSuggestIcon {
    top: 350px;
    left: 45vw;
    visibility: visible;
  }
  .clickSuggestIcon img {
    width: 30px;
    height: 30px;
  }
  .clickSuggestIcon h2 strong {
    font-size: 200%;
  }
  .clickSuggestIcon h2 {
    font-size: 100%;
  }
}

.block-skills-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 800px;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 5000px;
}
@media (max-width: 1380px) {
  .block-skills-flex {
    top: 5000px;
  }
}
@media (max-width: 480px) {
  .block-skills-flex {
    height: -moz-max-content;
    height: max-content;
    gap: 60px;
    top: 12000px;
  }
}

.block-skills-title h1,
.block-skills-title h3 {
  text-align: center;
}
.block-skills-title h1 {
  font-size: 5rem;
  color: #fff;
}
@media (max-width: 720px) {
  .block-skills-title h1 {
    font-size: 2rem;
  }
}
.block-skills-title h3 {
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(139, 139, 139);
}

.block-skills-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: -moz-max-content;
  height: max-content;
}
@media (max-width: 720px) {
  .block-skills-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 100px;
  }
}
.block-skills-cards .skill-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: 0 20px 0 0;
}
.block-skills-cards .skill-card h1,
.block-skills-cards .skill-card p {
  color: #fff;
  text-align: center;
}
.block-skills-cards .skill-card img {
  width: 40px;
  height: 40px;
}

.block-projects-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
  width: 75vw;
  padding: 100px;
  background-color: transparent;
  position: absolute;
  top: 6000px;
  gap: 200px;
  text-align: center;
}
@media (max-width: 1380px) {
  .block-projects-flex {
    top: 6000px;
  }
}
@media (max-width: 1280px) {
  .block-projects-flex {
    top: 7300px;
  }
}
@media (max-width: 768px) {
  .block-projects-flex {
    top: 11000px;
    gap: 50px;
  }
}
@media (max-width: 480px) {
  .block-projects-flex {
    top: 14000px;
    gap: 120px;
  }
}
.block-projects-flex .block-projects-title {
  font-size: 2rem;
}
.block-projects-flex .projects-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
}
@media (max-width: 480px) {
  .block-projects-flex .projects-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.block-projects-flex .projects-card .card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.block-projects-flex .projects-card .card-img img {
  max-width: 80dvw;
}
.block-projects-flex .projects-card .card-img video {
  width: 550px;
  height: 550px;
}
@media (max-width: 1380px) {
  .block-projects-flex .projects-card .card-img {
    order: 1;
  }
  .block-projects-flex .projects-card .card-img video {
    max-width: 30vw;
  }
}
@media (max-width: 768px) {
  .block-projects-flex .projects-card .card-img {
    order: 1;
  }
  .block-projects-flex .projects-card .card-img video {
    max-width: 80vw;
  }
}
.block-projects-flex .projects-card button {
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-top: 20px;
}
.block-projects-flex .projects-card button i {
  font-size: 150%;
  color: #fff;
}

.projects-flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.projects-flex-box .projects-flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
}

.project-stack-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.project-stack-flex img {
  width: 40px;
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding: 100px;
  background-color: #000;
  position: absolute;
  top: 13800px;
  gap: 300px;
  text-align: center;
}
@media (max-width: 1280px) {
  .footer-main {
    top: 16000px;
  }
}
@media (max-width: 1380px) {
  .footer-main {
    top: 21000px;
  }
}
@media (max-width: 768px) {
  .footer-main {
    height: -moz-max-content;
    height: max-content;
    gap: 50px;
    top: 26000px;
  }
}
@media (max-width: 480px) {
  .footer-main {
    top: 26500px;
  }
}
.footer-main h3 {
  color: #fff;
  font-weight: 200;
}

.hamburger-menu-toggle {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.774);
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: absolute;
  bottom: 0;
  z-index: 30;
  visibility: hidden;
  opacity: 0;
}
.hamburger-menu-toggle .menu-toggle {
  position: absolute;
  bottom: 50%;
  right: 50%;
}
.hamburger-menu-toggle .menu-toggle a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color ease-out 1s;
}
.hamburger-menu-toggle .menu-toggle a:hover {
  color: #fff;
  transform: scale(0.7);
}

.enabled {
  visibility: visible;
  opacity: 1;
}

.ScrollUpBtn {
  position: fixed;
  right: 0;
  bottom: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.ScrollUpBtn img {
  width: 5rem;
  filter: invert(25%);
}

@media (max-width: 878px) {
  canvas {
    display: none;
  }
  html, body {
    max-width: 100%;
  }
}
#LinkedIn {
  padding: 20px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 3px;
}

[data-anime] {
  opacity: 0;
  transition: 0.8s;
}

[data-anime=left] {
  transform: translateX(-50px);
}

[data-anime=right] {
  transform: translateX(50px);
}

[data-anime=down] {
  transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
  opacity: 1;
  display: inherit;
  transform: translate3d(0px, 0px, 0px);
}

[language] {
  transition: opacity 2s ease-in-out;
}

[language=EN] {
  display: none;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  background-color: #000;
  width: 0%;
  transition: width 0.2s ease-out;
}/*# sourceMappingURL=style.css.map */