@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./mixins";
@import "./pyramid";
@import "./cardknowledge";
@import "./hamburger";
@import "./typingeffect"; // linha 278 css / 59 html
@import "./variables";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    &:focus {
        outline: none;
        outline-width: 0;
    }

}

html {
    scroll-behavior: smooth;
    transition: scroll 3s linear;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

main {
    @include flexStart(center, center, column);
    height: max-content;
    width: 100%;
}





::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);

}





.nav-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    background: transparent;
    opacity: 0;

    .disabled {
        opacity: 0;

    }

    .socialIcons {
        display: flex;
        gap: 2rem;

        @media (max-width: 878px) {
            display: none;

        }

        

        .behanceIcon {
            margin-top: 0.9rem;
            width: 3rem;
            height: 3rem;

            @media (max-width: 878px) {
                width: 1.8rem;
                height: 1.8rem;

            }

        }

        .linkedinIcon,
        .githubIcon {
            margin-top: 1rem;
            width: 2.5rem;
            height: 2.5rem
            
        }

        @media (max-width: 878px) {
            .linkedinIcon,
            .githubIcon {
                width: 1.5rem;
                height: 1.5rem
                
            }
            
        }
    }





    .lang-navigationbtn {
        @include flexStart(center, center, row);
        gap: 20px;


        .lang-change {
            cursor: pointer;
            z-index: 10;



        }






    }

    .brand-flex-icon {
        display: flex;
        align-items: center;
        
      @media (max-width: 878px) {
        img {
            width: 3.5rem;
            height: 3.5rem;
        }
        
      }


    }



    .nav-navigationBtn {
        margin-top: 10px;
        z-index: 31;
        cursor: pointer;



    }
}


.particles-js-canvas-el {
    position: fixed;
    z-index: -20;
}


#partciles-js {
    height: 100vh;
}

#particles-js canvas {

    animation: particlePopUp 1s ease 0s normal none;


}

@keyframes particlePopUp {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    100% {
        opacity: 1;
        transform: scale(1);

    }

}









.block-main {
    display: flex;
    justify-content: center;
    background-color: $section_bg_black;
    width: $section_width;
    height: $section_height;
    position: absolute;
    top: 1200px;
    transition: all 0.3s ease-in-out;
    text-align: center;

    @media (max-width: $mobile-width) {
        height: 120rem;

    }




    .flex-intern {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        @media (max-width: $mobile-width) {
            flex-direction: column;
            gap: 350px;

        }

        h3,
        h2 {
            color: #fff;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 80dvw;
            max-height: 10rem;

        }



    }
}









.block-main-flex {
    @include flexStart(space-evenly, center, column);
    transition: all 4.2s ease-in-out;
    margin-bottom: 13rem;



    @media (max-width: $mobile-width) {
        @include flexStart(space-around, center, column);
        width: 100%;


    }




    h1,
    p {
        color: white;
        font-size: 120%;


    }


    div {
        width: 30%;
    }



}








.block-main-animated {
    width: $section_width;
    height: $section_height;
    padding: 20px 0 20px 0;
    border-radius: 0px;

    @media (max-width: $tablet-width) {
        height: $section_height + 200px;
        padding: 0;
    }



}

.block-main-hover {
    transform: scale(1.2) !important;

}



.name-presentation {
    position: absolute;
    width: 100%;
    @include flexStart(center, center, row);
    text-align: center;
    top: 250px;


    

    strong {
        font-size: 300%;
    }

    .myProjectsh2 {

        margin-top: 2rem;
        transition: transform .3s ease;
        cursor: pointer;

        a {
            text-decoration: none;
            color: #000;
            font-size: 1.5rem;
        }

        &:hover {
            transform: scale(110%);
        }

    }







    //animação de click sugestivo

    .suggestClick {
        position: absolute;
        top: 800px;
        left: 40vw;

        @media (max-width:$mobile-width) {
            left: 16vw;


        }

        img {
            width: 100%;
            height: 70px;
            transform: rotate(-75deg);

        }

    }





    @media (max-width: $mobile-width) {
        h2 strong {
            font-size: 120%;
        }

        h2 {
            font-size: 100%;
        }


    }

}




.scrollDownIcon {
    position: absolute;
    bottom: 0;


    img {
        width: 5rem;



    }
}



.block-knowledge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 2500px;
    transition: all 0.3s ease-in-out;


    @media (max-width: $tablet-width) {

        position: absolute !important;
        top: 1900px !important;




    }

    @media (max-width: $landscape-width) {

        position: absolute !important;
        top: 3500px !important;




    }

    @media (max-width: $mobile-width) {

        position: absolute !important;
        top: 3500px !important;
        width: auto;




    }


    h1,
    h3 {
        text-align: center;
    }

    h1 {
        font-size: 3rem;
        color: rgb(0, 0, 0);

        @media (max-width: 720px) {
            font-size: 2rem;

        }
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 200;
        color: rgb(139, 139, 139);
    }


    .knowledge-flex {
        @include flexStart(space-around, center, row);
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
        flex-wrap: wrap;

        .cssicon {
            width: 170px;
            height: 170px;
        }
    }

    .knowledge-title {
        h1 {
            font-size: 2rem;
        }
    }


    .contentBx {
        font-size: 0.9rem;
    }




}


.clickSuggestIcon {

    visibility: hidden;
    position: absolute;



    @media (max-width: $mobile-width) {

        top: 350px;
        left: 45vw;
        visibility: visible;

        img {
            width: 30px;
            height: 30px;


        }

        h2 strong {
            font-size: 200%;
        }

        h2 {
            font-size: 100%;
        }


    }
}











.block-skills-flex {
    @include flexStart(space-around, center, column);
    height: 800px;
    width: 100%;
    background-color: $section_bg_black;
    position: absolute;
    top: 5750px;


    @media (max-width: $notebook-width) {
        top: 5000px;
    }



    @media (max-width: $mobile-width) {
        height: max-content;
        gap: 60px;
        top: +12000px;
    }
}


.block-skills-title {


    h1,
    h3 {
        text-align: center;
    }

    h1 {
        font-size: 5rem;
        color: #fff;

        @media (max-width: 720px) {
            font-size: 2rem;

        }
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 200;
        color: rgb(139, 139, 139);
    }


}









.block-skills-cards {
    @include flexStart(space-around, center, row);
    width: 80%;
    height: max-content;

    @media (max-width: 720px) {
        @include flexStart(space-around, center, column);
        gap: 100px;

    }



    .skill-card {
        @include flexStart(center, center, column);
        gap: 40px;
        margin: 0 20px 0 0;


        h1,
        p {
            color: #fff;
            text-align: center;
        }



        img {
            width: 40px;
            height: 40px;

        }
    }

}



.block-projects-flex {
    @include flexStart(center, center, column);
    height: max-content;
    width: 75vw;
    padding: 100px;
    background-color: transparent;
    position: absolute;
    top: 6600px;
    gap: 200px;
    text-align: center;


    @media (max-width: $notebook-width) {
        top: 6000px;
    }

    @media (max-width: $landscape-width) {
        top: 7300px;
    }


    @media (max-width: $tablet-width) {
        top: +11000px;
        gap: 50px;

    }

    @media (max-width: $mobile-width) {
        top: +14000px;
        gap: 120px;

    }






    .block-projects-title {
        font-size: 2rem;
    }


    .projects-card {
        @include flexStart(center, center, row);
        gap: 100px;




        @media (max-width: $mobile-width) {
            @include flexStart(center, center, column);


        }


        .card-title {
            @include flexStart(center, center, column);
            gap: 40px;



        }

        .card-img {

            img {
                max-width: 80dvw;
            }

            video {
                width: 550px;
                height: 550px;
            }


            @media (max-width: $notebook-width) {
                order: 1;

                video {
                    max-width: 30vw;
                }


            }


            @media (max-width: $tablet-width) {
                order: 1;

                video {
                    max-width: 80vw;
                }


            }
        }

        button {
            padding: 8px 20px 8px 20px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: #000;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 1.2rem;
            margin-top: 20px;






            i {
                font-size: 150%;
                color: #fff
            }

        }





    }
}

.projects-flex-box {
    @include flexStart(center, center, row);





    .projects-flex-content {
        @include flexStart(center, center, row);
        width: 50%;


    }


}


.project-stack-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    img {
        width: 40px
    }
}


.footer-main {
    @include flexStart(center, center, column);
    height: max-content;
    width: 100%;
    padding: 100px;
    background-color: $section_bg_black;
    position: absolute;
    top: 13800px;
    gap: 300px;
    text-align: center;

    @media (max-width: $landscape-width) {
        top: +16000px;
    }

    @media (max-width: $notebook-width) {
        top: +21000px;
    }



    @media (max-width: $tablet-width) {
        height: max-content;
        gap: 50px;
        top: +26000px;
    }

    @media (max-width: $mobile-width) {
        top: +26500px;
    }


    h3 {
        color: #fff;
        font-weight: 200;
    }

}



.hamburger-menu-toggle {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.774);
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: absolute;
    bottom: 0;
    z-index: 30;
    visibility: hidden;
    opacity: 0;



    .menu-toggle {
        position: absolute;
        bottom: 50%;
        right: 50%;

        a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            transition: color ease-out 1s;

            &:hover {
                color: #fff;
                transform: scale(0.7);
            }

        }
    }

}

.enabled {
    visibility: visible;
    opacity: 1;

}


.ScrollUpBtn {
    position: fixed;
    right: 0;
    bottom: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    img {
        width: 5rem;
        filter: invert(25%);
    }
}




@media (max-width: 878px) {
   canvas {
    display: none;
   }

   html, body {
    max-width: 100%;
   }


}


#LinkedIn {
    padding: 20px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;

}


[data-anime] {
    opacity: 0;
    transition: .8s;



}

[data-anime="left"] {
    transform: translateX(-50px);
}

[data-anime="right"] {
    transform: translateX(50px);
}

[data-anime="down"] {
    transform: translate3d(0, 50px, 0);
}


[data-anime].animate {
    opacity: 1;
    display: inherit;
    transform: translate3d(0px, 0px, 0px);

}





[language] {
    transition: opacity 2s ease-in-out;
}

[language="EN"] {
    display: none;

}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 8px;
    background-color: #000;
    width: 0%;
    transition: width 0.2s ease-out;
}